* {
  scroll-behavior: smooth;
}

body {
  font-family: 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue',
    Helvetica, Arial, 'Lucida Grande', sans-serif;
  font-weight: 300;
  font-size: 16px;
  background: #f0f0f0;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: #108db8;
  font-weight: bold;
}

img {
  max-width: 100%;
}

nav {
  width: 100%;
  border-bottom: 5px solid #108db8;
}

nav .links {
  display: inline-block;
  margin-top: 100px;
}

nav a {
  padding: 1rem;
  display: inline-block;
}

nav a:hover {
  color: white;
  background: #108db8;
}

nav img {
  padding-top: 1rem;
  padding-left: 1rem;
  margin-bottom: -80px;
  width: 200px;
}

.content {
  padding: 2em;
  margin-left: auto;
  margin-right: auto;
  max-width: 550px;
  background: white;
  color: #333;
}

.content h1 {
  color: #0b6584;
}

.content h2 {
  font-size: 1.2em;
}

.content .snipe {
  background: #bb2431;
  color: white;
  padding: 1em;
  text-align: center;
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

.content .snipe a {
  font-weight: bold;
  color: #fd9ba3;
}

.content .snipe:hover a {
  text-decoration: underline;

}
